body {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: rgb(212, 26, 26);
}

h2 {
    color: rgb(165, 108, 42);
}


.comentario {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.pesq {
    padding: 20px;
}

.logg {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
    color: red;
}